node_modules
.next
# Allow the example env file to be copied into the image for documentation purposes
!.env.example
npm-debug.log*
pnpm-lock.yaml
yarn.lock
coverage
dist
build
.vscode
.idea
thumbs.db
Dockerfile
docker-compose.yml
*.log
uploads
public/uploads
/.git
.git
.gitignore